@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1,
  h2,
  h3,
  h4 {
    @apply tracking-tighter;
  }

  ::selection {
    @apply bg-primary-400/25 text-neutral-500;
  }
}

@layer components {
  .hero-section {
    @apply before:w-full 
      before:h-[40rem] 
      before:absolute 
      before:bg-gradient-to-br 
      before:from-[#D6FCFE00] 
      before:to-[#D6E6FE] 
      before:-z-10
      before:top-0
      before:rounded-bl-[2.25rem]
      before:rounded-br-[2.25rem]
      before:max-w-[61.125rem]
      sm:before:left-6
      sm:before:h-[46.0625rem];
  }

  .radio-button input[type='radio'] {
    @apply appearance-none 
    w-[1.9375rem] 
    h-[1.9375rem] 
    bg-white 
    border
    border-neutral-300 
    rounded-full
    outline-none
    transition-colors
    hover:border-primary-400
    focus-visible:border-primary-400
    checked:bg-primary-400/[0.15];
  }

  .radio-button > span::after {
    @apply content-['']
      transition-transform
      border-transparent
      w-[0.9375rem]
      h-[0.9375rem]
      block
      rounded-full
      bg-white
      absolute
      top-2
      left-2
      scale-0;
  }

  .radio-button > input[type='radio']:checked + span::after {
    @apply
      border-transparent
      bg-primary-400
      scale-100;
  }
}

@layer utilities {
  .main-container {
    @apply max-w-screen-lg 
    mx-6 sm:mx-10 
    lg:mx-auto 
    grid
    justify-items-center 
    sm:grid-cols-12 
    sm:gap-x-[0.625rem] 
    lg:gap-x-[1.875rem] 
    [&>*]:col-span-full;
  }

  .text-flow-sm > :not(:first-child) {
    margin-top: 1em;
  }

  .text-flow > :not(:first-child) {
    margin-top: 1.5em;
  }

  .text-flow-lg > :not(:first-child) {
    margin-top: 2em;
  }
}
